.advantages {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.advantages-flag {
  @include flag;
  padding-top: 50px;
}

.advantages-title {
  @include title_h2;
  padding-top: 4px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
  width: 280px;
}

.advantages-item {
  display: block;
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 60px;
  }

  &:nth-of-type(1) {//невидно неверный путь?
    background-image: url("/images/time-advantages.svg");
    background-size: 50px 56px;
    background-position: center 35%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: center top 0;
    }
  }

  &:nth-of-type(2) {
    background-image: url("/images/poket-advantages.svg");
    background-size: 50px 56px;
    background-position: center 35%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: center top 0;
    }
  }

  &:nth-of-type(3) {
    background-image: url("/images/light-advantages.svg");
    background-size: 50px 56px;
    background-position: center 35%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: center top 0;
    }
  }

  &:nth-of-type(4) {
    background-image: url("/images/lives-advantages.svg");
    background-size: 50px 56px;
    background-position: center 20%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: center top 0;
      padding-bottom: 0;
    }
  }
}

.advantages-item__title {
  display: block;
  margin: 0 auto;
  font-weight: 700;//почяему не жирный??
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding-top: 98px;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 4px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages-title {
    width: 738px;
  }

  .advantages-list {
    width: 728px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .advantages-item {
    width: 267px;
    padding-top: 0;
    padding-left: 70px;
  }

  .advantages-item__title {
    text-align: start;
    width: 267px;
    padding-top: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }

  .advantages-description {
    text-align: start;
    width: 267px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1440px;
  }

  .advantages-flag {
    padding-top: 100px;
  }

  .advantages-title {
    width: 1320px;
  }

  .advantages-list {
    width: 1320px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 30px;
  }

  .advantages-item {
    padding-left: 0;
    padding-top: 76px;
  }

  .advantages-item__title {
    text-align: center;
  }

  .advantages-description {
    text-align: center;
  }
}
