.advantages {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.advantages_flag {
  @include flag;
  padding-top: 50px;
}

.advantages-title {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 700;//почяему не жирный??
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  width: 280px;
  padding-top: 4px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
  width: 280px;
}

.advantages-item {
  display: block;
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 60px;
  }

  &:nth-of-type(1) {//невидно неверный путь?
    background-image: url("../images/time-advantages.svg");
    background-size: 50px 56px;
    background-position: center 50%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(2) {
    background-image: url("../images/poket-advantages.svg");
    background-size: 50px 56px;
    background-position: center 50%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(3) {
    background-image: url("../images/light-advantages.svg");
    background-size: 50px 56px;
    background-position: center 50%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(4) {
    background-image: url("../images/lives-advantages.svg");
    background-size: 50px 56px;
    background-position: center 50%;
    background-repeat: no-repeat;
  }
}

.advantages-item__title {
  display: block;
  margin: 0 auto;
  font-weight: 700;//почяему не жирный??
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding-top: 98px;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 4px;
}
