.advantages {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.advantages-flag {
  @include flag;
  padding-top: 52px;
}

.advantages-title {
  @include title_h2;
  padding-top: 4px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  width: 312px;
}

.advantages-item {
  display: block;
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 60px;
  }

  &:nth-of-type(1) {
    background-image: url("/images/time-advantages.svg");
    background-size: 50px 56px;
    background-position: 42% 20%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: 56% top;
    }
  }

  &:nth-of-type(2) {
    background-image: url("/images/poket-advantages.svg");
    background-size: 50px 56px;
    background-position: 42% 19%;
    background-repeat: no-repeat;
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: 52% top;
    }
  }

  &:nth-of-type(3) {
    background-image: url("/images/light-advantages.svg");
    background-size: 50px 56px;
    background-position: 42% 20%;
    background-repeat: no-repeat;
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: 48% top;
    }
  }

  &:nth-of-type(4) {
    background-image: url("/images/lives-advantages.svg");
    background-size: 50px 56px;
    background-position: 42% 13%;
    background-repeat: no-repeat;
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      background-position: left top 0;
    }

    @media (min-width: $desktop-width) {
      background-position: 44% top;
      padding-bottom: 0;
    }
  }
}

.advantages-item__title {
  display: block;
  margin: 0 auto;
  margin-right: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding-top: 88px;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  width: 312px;
  margin-left: -36px;
  text-align: center;
  padding-top: 4px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 768px;
  }

  .advantages-title {
    width: 738px;
  }

  .advantages-list {
    width: 728px;
    padding-top: 67px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .advantages-item {
    width: 267px;
    padding-top: 0;
    padding-left: 70px;
  }

  .advantages-item__title {
    text-align: start;
    width: 267px;
    padding-top: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }

  .advantages-description {
    text-align: start;
    width: 267px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1440px;
  }

  .advantages-flag {
    padding-top: 100px;
  }

  .advantages-title {
    width: 1320px;
  }

  .advantages-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-bottom: 102px;
    padding-left: 0;
  }

  .advantages-item__title {
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
  }

  .advantages-description {
    text-align: center;
    width: 100%;
    margin: 7px;
    margin-left: 20px;
  }

  .advantages-item {
    width: 100%;
    padding-left: 0;
    padding-top: 76px;

    &:nth-child(1) .advantages-item__title {
      margin-left: 19px;
    }

    &:nth-child(2) .advantages-item__title {
      margin-left: 8px;
    }

    &:nth-child(3) .advantages-item__title {
      margin-left: -6px;
    }

    &:nth-child(4) .advantages-item__title {
      margin-left: -18px;
    }

    &:nth-child(2) .advantages-description {
      margin-left: 7px;
    }

    &:nth-child(3) .advantages-description {
      margin-left: -6px;
    }

    &:nth-child(4) .advantages-description {
      margin-left: -18px;
    }
  }
}
