.catalog {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
}

.catalog-flag {
  @include flag;
  padding-top: 50px;
}

.catalog-title {
  @include title_h2;
  padding-top: 4px;
}

.catalog-filter__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.catalog-filter__title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
}

.catalog-filter {
  &__range {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 280px;
  }

  &__radio {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 280px;
  }

  &__checkbox {
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 280px;
  }

  &__button-group {
    margin: 0 auto;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
  }
}

.catalog-filter__button {
  margin-top: 20px;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
}
