.catalog {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
}

.catalog-flag {
  @include flag;
  padding-top: 50px;
}

.catalog-title {
  @include title_h2;
  padding-top: 4px;
}

.catalog-filter__range {
  margin: 0;
  padding: 0;
  border: none;
}
