.footer__copyright {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 280px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: rgba(189, 189, 189, 1);

  &:hover {
    color: rgba(120, 89, 207, 1);
    fill: rgba(120, 89, 207, 1);
  }

  &:focus {
    color: rgba(120, 89, 207, 1);
    fill: rgba(120, 89, 207, 1);
  }

  &:active {
    color: rgba(89, 60, 172, 1);
    fill: rgba(89, 60, 172, 1);
  }

  &:disabled {
    color: rgba(226, 226, 226, 1);
    fill: rgba(226, 226, 226, 1);
  }
}

.copyright__icon {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 32px;
  color: rgba(189, 189, 189, 1);

  &:hover {
    fill: rgba(120, 89, 207, 1);
  }

  &:focus {
    fill: rgba(120, 89, 207, 1);
  }

  &:active {
    fill: rgba(89, 60, 172, 1);
  }

  &:disabled {
    fill: rgba(226, 226, 226, 1);
  }
}
