.hero-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.hero-list__item {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 320px;

  &:nth-of-type(1) {
    background-color: rgba(243, 235, 225, 1);
  }

  &:nth-of-type(2) {
    background-color: rgba(234, 230, 252, 1);
  }

  &:nth-of-type(3) {
    background-color: rgba(229, 230, 232, 1);
  }
}

.hero-list__flag {
  @include flag;
  padding-top: 10px;
}

.hero-list__label {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.72px;
  text-align: center;
  width: 280px;
  padding-top: 4px;
}

.hero-list__description {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 280px;
  padding-top: 10px;
}

.hero-list__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 230px;
}

.hero-list__old-price {
  display: block;
  color: rgba(120, 89, 207, 1);
  text-decoration: line-through;
  font-size: 16px;
  line-height: 32px;
  padding-left: 25px;
}

.hero-list__new-price {
  display: block;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  padding-left: 6px;
}

.hero-list__image {
  display: block;
  margin: 0 auto;
}

.hero-list__button {
  text-transform: none;
}
