.map {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 44px;

  &::after {
    content: "";
    cursor: pointer;
    position: absolute;
    background-image: url("/images/map-pin.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 235px;
    left: 135px;
    z-index: 3;
    height: 38px;
    width: 50px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 0;

    &::after {
      top: 194px;
      left: 374px;
    }
  }
}

.map-image {
  display: block;
  z-index: 1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 768px;
  }
}
