.range-slider {
  margin-top: 30px;
}

.noUi-target {
  border: none;
  background-color: rgba(226, 226, 226, 1);
}

.noUi-connects {
  width: 280px;
  height: 2px;
  background: rgba(189, 189, 189, 1);
}

.noUi-horizontal {
  height: 2px;
  margin-left: 13px;
}

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  right: -10px;
  top: -10px;
}

.noUi-connect {
  background: rgba(144, 112, 236, 1);
}

.noUi-handle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: rgba(255, 255, 255, 1);
  background-image: none;
  border: 2px solid rgba(144, 112, 236, 1);
  top: -13px;
  cursor: pointer;
  box-shadow: none;

  &:hover{
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(144, 112, 236, 1);
  }
  &:active {
    outline: 1px solid rgba(144, 112, 236, 1);
    outline-offset: 2px;
  }
  &:focus {
    outline: 1px solid rgba(144, 112, 236, 1);
    outline-offset: 2px;
  }
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.noUi-touch-area {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.range-title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
}

.range-field {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 10px;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    width: 9px;
    height: 2px;
    background-color: rgba(189, 189, 189, 1);
    top: 52px;
    left: 135px;
    z-index: 1;
    content: "";
  }
}

.range-value {
  &__min {
    @include filed;
    width: 114px;
    margin-left: -5px;
  }

  &__max {
    @include filed;
    width: 114px;
    margin-right: 10px;
  }
}
