.social-list {
  flex-direction: row;
  padding-bottom: 22px;

  &__logo {
    display: block;
    width: 82px;
    height: 36px;
    margin-left: 20px;
    margin-right: 38px;
    background-image: url("/images/logo-short.svg");
    background-size: 82px 36px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 728px;
    grid-column: 1/4;

    &__logo {
      width: 170px;
      height: 36px;
      margin-left: 20px;
      background-image: url("/images/logo-full.svg");
      background-size: 1702px 36px;
    }
  }
}

.social-list__item {
  margin-right: 40px;

  &:first-of-type {
    margin-right: auto;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.social__icon-pinterest {
  display: block;
  padding-top: 10px;
}

.social__icon-ok {
  display: block;
  padding-top: 10px;
  margin-right: 30px;
}
