.social-list {
  flex-direction: row;
  padding-bottom: 22px;

  &__logo {
    display: block;
    margin-left: 20px;
    margin-right: 38px;

    &-image {
      display: block;
    }
  }

  &__link {
    display: block;
  }
}

.social__icon-pinterest {
  display: block;
  padding-top: 10px;
}

.social__icon-ok {
  display: block;
  padding-top: 10px;
  margin-right: 30px;
}
