.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.user-list__link {
  padding: 22px;

  &:hover {
    color: rgba(120, 89, 207, 1);
    outline: none;
    border: none;
  }

  &:focus {
    color: rgba(120, 89, 207, 1);
    outline: none;
    border: none;
  }

  &:active {
    background-color: rgba(240, 235, 255, 1);
    color: rgba(51, 51, 51, 1);
  }

  &:disabled {
    background-color: rgba(226, 226, 226, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.user-list__icon {
  fill: rgba(51, 51, 51, 1);
}
