.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.user-list__link {
  padding: 22px;

  &:hover {
    color: rgba(120, 89, 207, 1);
    outline: none;
    border: none;
  }

  &:focus {
    color: rgba(120, 89, 207, 1);
    outline: none;
    border: none;
  }

  &:active {
    background-color: rgba(240, 235, 255, 1);
    color: rgba(51, 51, 51, 1);
  }

  &:disabled {
    background-color: rgba(226, 226, 226, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.user-list__link-basket {
  display: block;
  margin-top: 32px;
  mask-image: url("/images/icons/stack.svg#basket");
  width: 16px;
  height: 16px;
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  background-color: rgba(51, 51, 51, 1);
}

.user-list__link-user {
  display: block;
  margin-top: 32px;
  mask-image: url("/images/icons/stack.svg#user");
  width: 16px;
  height: 16px;
  mask-repeat: no-repeat;
  mask-size: 16px 16px;
  background-color: rgba(51, 51, 51, 1);
}

.user-list__icon {
  fill: rgba(51, 51, 51, 1);
}

@media (min-width: $tablet-width) {
  .user-list {
    margin-right: 20px;
  }
}
